@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #dbf6e9;
  color: #162447;
  text-align: center;
}

h1{
  font-size: 2.5rem;
  font-family: 'Press Start 2P', cursive;
}


