@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #dbf6e9;
  color: #162447;
}

.App {
  text-align: center;
  min-height: 100vh;
  text-align: center;
  overflow-x: hidden;
  display: flex;
  flex-direction: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1{
  font-size: 2.5rem;
  font-family: 'Press Start 2P', cursive;
  margin: 1.3rem;
}

/*Hide Scrollbar*/

.html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
